:root { /*permet de cibler la racine de l'arbre représentant le document*/
    --primary-color: rgba(106, 216, 204, 0.85); /*0;75 correspond à l'opacité*/
    --overlay-color: rgba(36, 51, 88, 0.85);
    --menu-speed: 0.75s; 

}

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    line-height: 1.4;
   
}

/*Le trait bleu de Céline*/
header{  
    border-bottom-style: solid;
    border-color: #059EBE;
  }

.toppage { 
    height: 65px;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    text-align: center;   
}
h1 {
    font-size: 1.8em;
    color: #F46466;
    margin-bottom: 0px;
    font-weight: normal;
}

h2 {
    margin-top: -10px;
    font-size: 1.5em;
    color: white;
    margin-left: 200px;
    font-weight: normal;
}


.banniere {
    width: 100%;
    height: 400px;
    background-image: /*linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), */ url("../Accueil/images/conscious-design-vSC8Qpi6bZ8-unsplash.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
        /*margin-top: 15px;
        height: 200px;
        border-radius: 5px;
        background: url('images/sanfrancisco.jpg') no-repeat;
        position: relative;
        box-shadow: 0px 4px 4px #1c1a19;
        margin-bottom: 25px;
    }*/
}

/*.showcase {
    margin-left: 100px;
    margin-right: 100px;
}*/

.showcase-inner p { 
    text-align: justify;
    margin: 3% 5% 0% 5%;
    text-decoration: none;
}

footer{
    display: flex;
    position: fixed;
    bottom: 0%; 
    border: 1px solid black;
    width: 100%;
    justify-content: space-around;
    background-color: #243358;
    margin-top: 20px;
    color: #6AD8CC;
    align-items: center;
    height: 100px;
  }
  
  #logo {
    list-style: none;
    display: flex;
    justify-content: space-around;
    height: 50px;
    width: 500px;
  }

  li img {
      width: 50px;
      height: 50px;
  }

/*IPAD*/
  @media all and (min-width: 768px) and (max-width: 1394px){
    .banniere{
        height: 390px;
    }
    .showcase { 
        margin-bottom: 100px;
        }
    footer {
        height: 90px;
    }
    
    #logo {
        width: 300px;
        }
    li img{
        width: 60%;
        }
    p {
        font-size: 0.9em;
    }
  }

  /*TELEPHONE*/
  @media all and (min-width: 375px) and (max-width: 767px){
    .banniere{
        height: 200px;
    } 
    .showcase {
          margin-bottom: 50px;
      }

      footer {
          height: 50px;

      }
      li img{
          width: 60%;
      }
      p {
        font-size: 0.7em;
    }
    #logo {
        width: 150px;
        }
    li img{
        width: 50%;
        }
    .info p {
        font-size: 8px;
    }
  }
