:root { /*permet de cibler la racine de l'arbre représentant le document*/
    --primary-color: rgba(106, 216, 204, 0.85); /*0;75 correspond à l'opacité*/
    --overlay-color: rgba(36, 51, 88, 0.85);
    --menu-speed: 0.75s;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face{
    font-family:'Roboto Mono';
    src: url('/home/celine/EXERCICES/HTML_CSS/ProjetCoachSportif/Projet-CoachSportif/Roboto Mono/static/RobotoMono-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
  font-family:'Roboto Mono';
  font-weight: medium;
  font-size: 1em;
}

.toppage {
    display: flex;
    flex-direction: column;
    align-items:center;
    height: 90px;
    width: 100%;
    background-color: var(--primary-color);
  }

.titre_principal{
  font-size: 2em;
  color: #F46466;
  margin-bottom: 0px;
}

.sous_titre{
  font-size: 1.5em;
  color:white;
  margin-top: 0px;
  margin-left: 200px;
}

header{
  border-bottom-style:solid;
  border-color: #059EBE;
  padding: 5px;
}

footer{
  display: flex;
  width: 100%;
  justify-content: space-around;
  background-color: #243358;
  margin-top: 20px;
  color: #6AD8CC;
  align-items: center;
  height: 100px;
}

#logo {
  list-style: none;
  display: flex;
  justify-content: space-around;
  height: 50px;
  width: 500px;
}

/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  color: #0077B7;
}

/* Style the label to display next to the inputs */
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  color: #F61C0D;
  font-weight: bold;
}

/* Style the submit button */
input[type=Envoyez] {
  background-color: #F19D83;
  color: white;
  padding: 10px 0px 10px 50px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;
  color: #0077B7;
  font-weight: bold;
}

/* Style the container */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: -20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25vw;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75vw;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
