:root { /*permet de cibler la racine de l'arbre représentant le document*/
    --primary-color: rgba(106, 216, 204, 0.85); /*0;75 correspond à l'opacité*/
    --overlay-color: rgba(36, 51, 88, 0.85);
    --menu-speed: 0.75s; 
}

* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto' sans-serif;
    line-height: 1.4;
}

.toppage { 
    height: 60px;
    width: 100%;
    background-color: var(--primary-color);
    display: flex;
    justify-content: flex-end;
}

h1 {
    font-size: 20px;
    justify-content: center;
}
.logocoach {
    width: 90px;
}
p { 
    margin-top: 100px;
}

